body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.calculadora {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 340px;
  min-width: 280px;
}

#entrada {
  width: 90%;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
  border-radius: 6px;
  color:black;
  border: 1px solid #ccc;
  -webkit-user-drag: none;
}

#entrada::placeholder {
  color:black; 
  opacity: 0.7; 
}
.caixaInput{
  width: 100%;
  display: flex;
  justify-content: center;
}



.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  gap: 10px;
}

#mais {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#igual {
  grid-column: span 2;
}


.tecla {
  padding: 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  user-select: none; 
}

.tecla:hover {
  background: rgba(0, 0, 0, 0.5);
}

.tecla.pressionada {
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
  box-shadow: inset 0 2px 5px rgba(10, 0, 0, 0.479);
}


#limpeza {
  background: #af0707;
  color: white;
}

#limpeza:hover {
  background: #530f0f;
}

#igual {
  grid-column: span 1;
  background: #0d449c;
  color: white;
}

#igual:hover {
  background: #3367d6;
}

